@inherits LayoutComponentBase

<!-- Modify this if required, -->
<div>
    <div>
        <NavLink href="/">Home</NavLink>
        <NavLink href="/create">Create</NavLink>
        <NavLink href="/">Update</NavLink>
    </div>

    <div>
        @Body
    </div>
</div>
